//color variables
$primaryColor: #F05924;
$lightColor: #F49C7F;
$accentColor1: #FFDA58;
$accentColor2: #aeadf0;
$accentColor3: #d8dcff;
$bodyTextColor: #00283A;
$bodyBackgroundColor: #FEF8E2;

// font variables
$primaryFont: 'Open Sans', sans-serif;
$headingFont: 'Francois One', sans-serif;
