@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/*  to set the base font-size */
html {
  font-size: 62.5%; }

/* to style the body tag */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #00283A;
  line-height: 2rem;
  background-color: #FEF8E2; }

/* to style the wrapper classes */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 60%; }

/* to reset the margin and padding for some elements */
h1,
h2,
ul,
img,
body,
p,
textarea,
form,
button {
  margin: 0;
  padding: 0; }

/* to remove the list style from any list */
ul {
  list-style: none; }

/* to style all the images */
img {
  max-width: 100%;
  display: block;
  height: auto; }

/* to style all the buttons */
button {
  background-color: #FFDA58;
  color: #00283A;
  padding: 20px;
  font: inherit;
  border: none;
  cursor: pointer; }

/* to style the buttons when hover or focus */
button:hover,
button:focus {
  background-color: #F49C7F; }

/* to style heading 1 */
h1 {
  font-family: "Francois One", sans-serif;
  color: #F05924;
  line-height: 7.5rem;
  font-size: 8rem;
  letter-spacing: 3px;
  text-shadow: 4px 4px 0 #F49C7F;
  text-transform: uppercase; }

h2 {
  font-family: "Francois One", sans-serif;
  font-size: 4rem;
  line-height: 3.5rem;
  text-shadow: 2px 2px 0 #F49C7F;
  padding-bottom: 10px; }

h3 {
  font-family: "Francois One", sans-serif;
  font-size: 3rem; }

.hidden {
  display: none; }

.preloader {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30%;
  height: 30%;
  z-index: 9999;
  background-image: url("./assets/preloader.gif");
  background-repeat: no-repeat;
  background-position: center; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 20vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.moodButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .moodButtons div {
    text-align: center;
    max-height: 200px; }
    .moodButtons div img {
      margin-bottom: 4%; }

.moodDiv,
.formTop,
.formBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50vh; }

.formTop {
  padding-bottom: 4%; }
  .formTop h2 {
    padding-bottom: 4%; }
  .formTop label {
    margin: 0 5px; }
  .formTop .inputContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .formTop #calories {
    width: 10%; }

.formBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .formBottom h2 {
    padding-bottom: 4%; }
  .formBottom label {
    margin: 0 5px; }
  .formBottom .checkboxContainer {
    padding-bottom: 7%; }
  .formBottom button {
    width: 300px;
    background: #aeadf0;
    color: white;
    border: 3px solid #aeadf0; }
  .formBottom button:hover,
  .formBottom button:focus {
    background: #d8dcff; }

.imageContainer {
  max-width: 312px; }

h3 {
  text-shadow: 2px 2px 0 #d8dcff; }

.recipeContainer {
  margin: 0 30px; }
  .recipeContainer ul li:before {
    content: "·";
    font-size: 25px;
    vertical-align: middle;
    line-height: 20px;
    padding-right: 10px;
    color: #F05924; }
  .recipeContainer a {
    color: #aeadf0;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: italic; }
  .recipeContainer a:hover {
    color: #d8dcff; }

.buttonContainer {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .buttonContainer button {
    margin: 0 5px; }
  .buttonContainer #restartSearchButton {
    background: #aeadf0;
    color: white; }
  .buttonContainer #restartSearchButton:hover,
  .buttonContainer #restartSearchButton:focus {
    background: #d8dcff; }
